.content-ct{
    width: 100%;
    height: auto;
    padding: 0vh 2vh 0vh 2vh;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 48vh 48vh;
    align-items: center;
    justify-content: center;
}

.content-ct .boxes{
    width: 100%;
    height: auto;

    gap: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-ct .boxes .imag-ct{
    width: 40%;
    height: 30vh;
}

.content-ct .boxes .imag-ct img{
    width: 100%;
    height: 100%;

    border-radius: 2vh;
    box-shadow: .1vh .1vh 2vh rgba(0, 0, 0, 0.501);
}

.content-ct .boxes .adress{
    width: 50%;
    height: auto;

    display: flex;
    flex-direction: column;
}

.content-ct .boxes .adress h2{
    letter-spacing: .2vh;
    font-size: 4vh;
    font-weight: 800;
}

.content-ct .boxes .adress h3{
    width: 103%;
    font-size: 2vh;
    font-weight: 600;
}

.content-ct .boxes .adress span{
    width: 103%;

    font-size: 2vh;
    letter-spacing: 0vh;
    font-weight: 500;
}

.content-ct .boxes .adress .new-ct-contact{
    width: 103%;
    font-weight: 600;

    font-size: 2vh;
    letter-spacing: 0vh;
}

.content-ct .boxes .adress .social-midia-new-ct{
    display: flex;
    margin-top: 1vh;
    gap: 1.5vh;
}

.content-ct .boxes .adress .social-midia-new-ct a{
    width: 3.5vh;
    height: 3.5vh;
}

.content-ct .boxes .adress .social-midia-new-ct img{
    width: 3.5vh;
    height: 3.5vh;
    filter: grayscale(100%);
}

.content-ct .boxes .adress .social-midia-new-ct img:hover{
    filter: grayscale(0%);
}

@media (min-width: 768px) and (max-width: 1024px) {
    .content-ct .imag-ct{
        height: 25vh !important;
    }

    .content-ct .boxes .adress h2{
        letter-spacing: .2vh;
        font-size: 3vh;
        font-weight: 800;
    }

    .content-ct .boxes .adress h3{
        letter-spacing: .2vh;
        font-size: 2vh;
        font-weight: 600;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .content-ct{   
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 40vh 40vh 40vh 40vh;
        align-items: center;
        justify-content: center;
    }

    .content-ct .imag-ct{
        height: 25vh !important;
    }

    .content-ct .boxes .adress h2{
        letter-spacing: .2vh;
        font-size: 3vh;
        font-weight: 800;
    }

    .content-ct .boxes .adress h3{
        letter-spacing: .2vh;
        font-size: 2vh;
        font-weight: 600;
    }
}

@media (max-width: 481px){
    .content-ct{   
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50vh 50vh 50vh 50vh;
        align-items: center;
        justify-content: center;
    }

    .content-ct .imag-ct{
        height: 25vh !important;
    }

    .content-ct .boxes .adress h2{
        letter-spacing: .1vh;
        font-size: 2.7vh;
        font-weight: 800;
    }

    .content-ct .boxes .adress h3{
        letter-spacing: .1vh;
        font-size: 2vh;
        font-weight: 600;
    }
}