footer{
    width: 100%;
    height: 100%;
    border-top: solid .8vh rgb(255, 0, 0);
    background-color: rgb(0, 0, 0);
    color: white;
    border-bottom: solid .8vh rgb(255, 0, 0);
    padding-bottom: 10px;
}

footer .content-footer{
    width: 100%;
    height: 17vh;
    gap: 2vh;
    font-size: 2.5vh ;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .content-footer .sa-box{
    width: 100%;
    height: 100%;
    margin-left: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

footer .content-footer .sa-box .prefeitura-img{
    width: 16vh;
    height: 100%;
}
footer .content-footer .sa-box .texto{
    color: rgb(17, 134, 17);
    text-align: start;
    text-shadow: 0.7px 0.7px 1px rgb(235, 250, 29);
    font-size: 3.5vh;
    letter-spacing: .2vh;
}

footer .content-footer .sb-box{
    width: 100%;
    height: 100%;
    margin-right: 5vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
footer .content-footer .sc-box{
    width: 100%;
    height: 100%;
    gap: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

footer .content-footer .sb-box .fecam-img{
    border-radius: 50%;
    width: 15VH;
    height: 15vh;
}
footer .content-footer .icon{
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    border: solid .1vh white;
}

footer .content-footer img{
    width: 10vh;
    height: 10vh;
}

.copy{
    font-size:1.5vh;
}

.text span{
    font-size: 4vh;
    font-weight: 500;
    letter-spacing: .1vh;
}
.text{
    text-align: center;
}
footer .box-patrocinios{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

footer .box-patrocinios{
    font-size: 3vh;
}

footer .box-patrocinios .logo-patrocinios{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 0vh 2vh;


    width: 100%;
    padding: 0vh 2vh;


    gap: 3vh;
}

footer .box-patrocinios .logo-patrocinios img{
    width: 17vh;
    height: 17vh;
    border-radius: 1.5vh;
}

footer .box-patrocinios .logo-patrocinios .cairo{
    width: 22vh;
    height: 17vh;
}
