*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.content{
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
}

.content .box span{
    font-size: 6vh;
    letter-spacing: .8vh;
    text-shadow: .18vh .18vh .1vh rgba(0, 0, 0, 0.5);
    color: black
}

.box{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 8vh;
}

.box-img{
    display: flex;
    align-items: center;
    justify-content: center;

    width: auto;
    height: auto;

    
}

.box-img img{
    width: 30vh;
    height: 30vh;
    border-radius: 50%;

    box-shadow: 0vh .4vh .9vh rgba(0, 0, 0, 0.9);
}

.ricardo{
    border: solid .8vh black;
}
.dionata{
    border: solid .8vh rgb(93, 49, 15);
}

.box-info{
    width: 70%;
    height: 80%;

    text-align: center;
}

.box-info span{
    text-align: center;
}

