*{
    outline: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}

.overlay{
    z-index: 2;
    width: 100%;
    min-height: 100%;
    
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
}

.overlay .loading-top{
    position: absolute;

    width: 25vh;
    height: 25vh;
}
.overlay .loading-horiz{
    position: absolute;

    width: 15vh;
    height: 15vh;
}


.page-home{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}   

header{
    width: 100%;
    height: 18vh;

    display: flex;
    justify-content: space-between;
    align-self: center;
    
    background-color: black;
    border-bottom: rgb(255, 0, 0) solid .8vh;
}

header .logo{
    width: 15%;
    display: flex;
    justify-content: start;
    align-items: center;
}

header .logo img{
    width: 16vh;
    height: 90%;
    margin-left: 9vh;
    border-radius: 50%;
    border: solid .2vh white;
    cursor: pointer;
}

header .title{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 3vh;
    color: white;
    text-shadow: 0.2vh 0.2vh .2vh rgba(255, 255, 255, 0.272);
}

header .redes-sociais{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 25%;
    gap: 11vh;
}

header .redes-sociais img{
    width: 7.5vh;
    height: 7.5vh;
    transition: .4s;
    filter: grayscale(100%);
    transform: scale(.95);
}
header .redes-sociais a{
    width: 7.5vh;
    height: 7.5vh;
    transition: .4s;
}

header .redes-sociais img:hover{
    filter: drop-shadow(.2vh .2vh 0vh white);
    transform: scale(1.05);
    transition: .2s;
}

header .login-acess{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 10%;
}

header .login-acess img{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 8.5vh;
    height: 8.5vh;
    padding: 1.5vh;
    
    border-radius: 50%;
    transition: .3s;
    background-color: #53535365;
    cursor: pointer;
}

header .login-acess img:hover{
    transform:rotate(360deg);
    transition: .4s;
    background-color: #535353;
}


nav{
    width: 100%;
    height: 10vh;
    gap: 15vh;
    margin-top: 2vh ;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

nav button img{
    width: 3.3vh;
    height: 3.3vh;
    transition: .5s;
}

nav button:hover img{
    animation: Vibration .5s ease infinite alternate;
    transition: .5s;
}

.btn1{
    font-size: 2.7vh;
}

.btn1 img{
    width: 3.2vh;
    height: 3.2vh;
}

.container-home{
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-home span{
    color: rgba(0, 0, 0, 0.75);
    letter-spacing: .4vh;
    font-size: 7vh;
    font-weight: bold;
}

.info-button{
    width: 100%;
    height: auto;
    margin-top: 7vh;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 12vh;
}

.content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.infos{
    width: 86.8%;
    height: 97vh;

    box-shadow: 0vh 0.4vh 1vh black;
    margin-bottom: 5vh;

    background-color: #cccccc3f;
    overflow-y: auto;
    overflow-x: hidden;
}

footer{
    width: 100%;
    height: 14vh;
    border-top: solid .8vh rgb(255, 0, 0);
    background-color: rgb(0, 0, 0);

    color: white;
}

footer .content-footer{
    width: 100%;
    height: 13vh;
    gap: 2vh;
    font-size: 2.5vh ;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer .content-footer img{
    width: 7vh;
    height: 7vh;
}

.copy{
    font-size:1.5vh;
}

#active{
    animation: changeAbout 1s normal forwards;
}
#inative{
    transition: .3s;
}

@keyframes changeAbout {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes Vibration {
    0%{
        transform: rotate(0);
    }

    50%{
        transform: rotate(-10deg);
    }

    100%{
        transform: rotate(10deg);
    }
}

.page-home .loading-logo{
    width: 200px;
    height: 200px;

    animation: rotateLogoLoading 1s infinite;
}

@keyframes rotateLogoLoading {  
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}