*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page-photos{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-photos header{
    width: 100%;
    height: 18vh;
    display: flex;
    justify-content: space-between;
    align-self: center;
    background-color: black;
    border-bottom: solid .8vh rgb(255, 0, 0);
}

.page-photos header .logo{
    width: 15%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.page-photos header .logo img{
    width: 16vh;
    height: 16vh;
    margin-left: 9vh;
    border-radius: 50%;
    border: solid .2vh white;
}

.page-photos header .title{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    letter-spacing: 1vh;
    word-spacing: 1vh;
    font-size: 3.5vh;
    color: white;
    text-shadow: 0.2vh 0.2vh .2vh rgba(255, 255, 255, 0.272);
}

.page-photos header .title .subtitle{
    width: 70%;
    text-align: center;

    font-size: 2.5vh;
    letter-spacing: .3vh;
    font-weight: 600;
    text-shadow: 0vh 0vh 0vh rgb(255, 255, 255);
}

.page-photos .title-photos{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d6d6d693;
}

.page-photos .title-photos span{
    font-size: 2.5vh;
    font-weight: bold;
    letter-spacing: .4vh;
    word-spacing: .2vh;
    color: black;
}

.page-photos .title-photos2{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d6d6d693;
    margin-top: 5vh;
}

.page-photos .title-photos2 span{
    font-size: 2.5vh;
    font-weight: bold;
    letter-spacing: .4vh;
    word-spacing: .2vh;
}

.container-photos{
    width: 100%;
    height:55vh;
    margin-top: 5vh;
    gap: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.container-photos .box-ct{
    width: 20%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: end;
    position: relative;
    z-index: 1;
    overflow: hidden;

    border: solid black .5vh;
    background-color: rgb(219, 219, 219);
    box-shadow: 0.3vh 0.4vh 1vh black;
    border-radius: 2.5vh;
}

.container-photos .box-ct img{
    width: 100%;
    height: 100%;
    position: absolute;

    opacity: 1;
    transition: .5s;
    border-radius: 2.5vh;
}

.container-photos .box-ct .name-ct{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: auto;

    z-index: 1;

    transform: translateY(9vh);
    transition: .4s;
    background-color: #000000;
}

.container-photos .box-ct .name-ct .infos-card-galeria{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;
    height: 5vh;
    position: relative;
    
    z-index: 1;
    color: white;
}

.container-photos .box-ct .name-ct .infos-card-galeria span{
    letter-spacing: .2vh ;
    font-size: 2.3vh;
    font-weight: 800;

    margin-bottom: 1vh;
    margin-top: 2vh;
}

.container-photos .box-ct .name-ct .infos-card-galeria img{
    width: 3.5vh;
    height: 3.5vh;

    position: absolute;
    right: 3vh;
    top: 25%;

    animation: mouse-click .5s alternate infinite;
}

.container-photos .box-ct .name-ct .icon-card-galeria{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 10vh;
    gap: 8vh;

    z-index: 1;
    color: white;
}

.container-photos .box-ct .name-ct .icon-card-galeria a{
    width: 4vh;
    height: 4vh;
    margin-bottom: 2vh;
}
.container-photos .box-ct .name-ct .icon-card-galeria img{
    width: 7vh;
    height: 7vh;
    padding: 2vh;
    border-radius: 30%;
    background-color: rgba(255, 255, 255, 0.2);

    animation: light-bg-media 1s infinite alternate;
    
}

.container-photos .box-ct .name-ct .icon-card-galeria .att-photos-time{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;

    z-index: 1;
}

.container-photos .box-ct .name-ct .icon-card-galeria .att-photos-time p{
    margin-top: 1vh;
    letter-spacing: .1vh ;
    font-size: 1.7vh;
    font-weight: 800;
}

.container-photos .box-ct .name-ct .icon-card-galeria .img-icon-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;


    z-index: 1;
}

.container-photos .box-ct:hover .bg-box-cards{
    opacity: .1;
    transition: 1s
}

.container-photos .box-ct:hover .hide-mouse{
    display: none;
    transition: .2s;
}

.container-photos .box-ct:hover .name-ct{
    transform: translateY(0);
    transition: .4s;
}

.container-photos .box-ct .name-ct .icon-card-galeria img:hover{
    transform: translateY(-1.5vh);
    transition: .3s;
}


@keyframes light-bg-media {
    from{
        background-color: rgba(255, 255, 255, 0.25);
    }

    to{
        background-color: rgba(255, 255, 255, 0.05);
    }
}

@keyframes mouse-click {
    from{
        opacity: 1;
    }

    to{
        opacity: 0;
    }
}